*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  padding: 5px 10px;
  font-weight: 500;
}

.btn{
  padding: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn-green{
  background-color: green;
  color: white;
}
.btn-red{
  background-color: red;
  color: white;
}
.btn-gray{
  background-color: gray;
  color: white;
}